@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  background-color: #c4fcef;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  border-radius: 1em;
  display: flex;
  height: 90vh;
  color: white;
  width: 70vw;
  border: 2px solid black;
  background: #845ec2;
}

article {
  border-radius: 1em;
  background: #b39cd0;
  margin: 0.3em;
  height: 97%;
  width: 40%;
  border: solid blue;
}

.step {
  margin: 1em;
  align-items: center;
  column-gap: 1em;
}

.plan-container {
  display: flex;
  column-gap: 2.5em;
  width: 85%;
}

.num {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  height: 2.5em;
  width: 2.5em;
  border: 2px solid black;
  border-radius: 5em;
}

form {
  display: flex;
  flex-direction: column;
  margin: 1.5em 0 0 1.5em;
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  height: 80%;
}
.add-on-container{
  margin-top: 2em;
  flex-direction: column;
  display: flex;
  row-gap: 2em;
}

.form2 {
  display: flex;
  flex-direction: column;
}

input {
  height: 3em;
  width: 85%;
  padding: 1em;
  border-radius: 0.5em;
}

.info-container {
  width: 100%;
  display: flex;
}

.buttons {
  height: 3em;
  width: 85%;
  border-radius: 0.5em;
  display: flex;
  justify-content: space-between;
}

button {
  width: 9em;
  background: #121619;
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em;
}

.p-step {
  font-weight: 600;
}

button:hover {
  background-color: #2f3029;
}

.slide-button-container {
  height: 3em;

  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 2em;
}

.slide-button {
  display: flex;
  justify-content: start;
  border: 2px solid black;
  height: 1em;
  border-radius: 5em;
  width: 2em;
}

.slide-dot {
  height: 100%;
  width: 50%;
  background-color: rgb(4, 4, 4);
  border-radius: 50%;
}

.nav-link {
  text-decoration: none;
}

.active {
  text-decoration: none;
  background: cadetblue;

  .num {
    background: #02271e;
    color: white;
  }
}

.fa-gamepad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;
  background: #00c9a7;
  border: 2px solid black;
  border-radius: 5em;
  align-self: first baseline;
}

/* css of addons */
.add-ons-container {
  padding: 0.5em;
  border: 2px solid black;
  width: 85%;
  height: 5em;
  display: flex;
  align-items: center;
  border-radius: 0.3em;
  background: #02271e;
  row-gap: 2em;
}
.card {
  padding: 1em;

  border: 2px solid rgb(2, 2, 2);
  border-radius: 0.5em;
  height: 10em;
  width: 9em;
  width: 100%;
  height: 100%;
  background: #344c64;
  cursor: pointer;
}

.card input[type="radio"] {
  display: none;
}

.add-main {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.add-ons-info {
  padding: 0.6em;
  display: flex;
  column-gap: 1em;

  height: 100%;
  width: 90%;
  align-items: center;
}

.add-ons-checkbox {
  background: #02271e;
  height: 1.5em;
  width: 1.5em;
}

/* this is css for fetch data from FormThree  */

.plan-card-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}
li {
  list-style: none;
}
.add-ons-value {
  list-style: none;
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}
.total-amount {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

@media only screen and (max-width: 1100px) {
  .plan-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1em;
  }

  .card {
    display: flex;
    width: 100%;
    height: 5em;
    justify-content: space-between;
  }
  .add-ons-text {
    font-size: small;
  }
}
